[{lager, [
    {log_root, "./logs_bitgamex_contract_test"},
    {crash_log, "crash.log"},
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "error.log"}, {level, error}]},
        {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
]},
{bitgamex_contract_test, [
]}
].
